@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html,
body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 0 auto;
    margin-top: auto;
    padding: 5px 10px;
    width: 290px;
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    -webkit-animation: open 2s cubic-bezier(.39, 0, .38, 1);
}

@-webkit-keyframes open {
    from {
        padding: 0 30px;
        height: 0;
    }
    to {
        height: auto;
    }
}

h1,
h2,
h3,
h4 {
    position: relative;
}

h1 {
    font-size: 2em;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .2s;
}

h2 {
    color: black;
    font-weight: 300;
    font-size: 1.55em;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1);
}

h3 {
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1);
    color: black;
}

.hour {
    position: relative;
    width: 100px;
    margin: 0px;
    h2 {
        margin-top: 0px;
    }
    h3 {
        margin-top: 0px;
        font-size: 0.56rem;
    }
}

.temp {
    h1 {
        margin-top: 0px;
    }
    h5 {
        margin-top: 0px;
        font-size: 0.33rem;
    }
}

.weatherSvg {
    position: relative;
    height: 70px;
    width: 70px;
    &.moon {
        background-image: url(../../../../SVGs/moon.svg);
    }
    &.moonClouds {
        background-image: url(../../../../SVGs/moonClouds.svg);
    }
    &.moonCloudsRain {
        background-image: url(../../../../SVGs/moonCloudsRain.svg);
    }
    &.moonMist {
        background-image: url(../../../../SVGs/moonMist.svg);
    }
    &.cloudsRain {
        background-image: url(../../../../SVGs/cloudsRain.svg);
    }
    &.sun {
        background-image: url(../../../../SVGs/sun.svg);
    }
    &.sunClouds {
        background-image: url(../../../../SVGs/sunClouds.svg);
    }
    &.sunCloudsRain {
        background-image: url(../../../../SVGs/sunCloudsRain.svg);
    }
    &.sunMist {
        background-image: url(../../../../SVGs/sunMist.svg);
    }
    &.clouds {
        background-image: url(../../../../SVGs/clouds.svg);
    }
    &.snow {
        background-image: url(../../../../SVGs/snow.svg);
    }
    &.storm {
        background-image: url(../../../../SVGs/storm.svg);
    }
    &.rainStorm {
        background-image: url(../../../../SVGs/rainStorm.svg);
    }
    &.freezingRain {
        background-image: url(../../../../SVGs/freezingRain.svg);
    }
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1);
}

.clr-col-3 {
    &.colTemp {
        padding-right: 0;
    }
    &.colHumid {
        padding-left: 5px;
    }
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1);
}
