<div class="card">
    <div class="clr-row">
        <div class="clr-col-3">
            <div class="hour">
                <h2>{{date.getHours()}}:{{minutes}}</h2>
                <h3>{{day}}</h3>
            </div>
        </div>
        <div class="clr-col-3">
            <div class="weatherSvg" [ngClass]="weatherIconClass">
            </div>
        </div>
        <div class="clr-col-3 colTemp">
            <div class="temp">
                <h1>{{hourlyWeather.main.temp.toFixed(0)}}°C</h1>
            </div>
        </div>
        <div class="clr-col-3 colHumid">
            <div class="temp">
                <h5>Humidity:{{hourlyWeather.main.humidity}}%</h5>
                <h5>Wind:{{hourlyWeather.wind.speed}}km/h</h5>
            </div>
        </div>
    </div>
</div>
