<clr-main-container>
    <clr-header class="header header-6">
        <div class="branding">
            <span class="clr-icon clr-astro-logo"></span>
            <span class="title">Astro Weather</span>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a routerLink="/apod" routerLinkActive="active" class="nav-link nav-text">APOD</a>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <div class="clr-row clr-justify-content-center">
                <div class="clr-col-md-10 clr-col-sm-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
    </div>
</clr-main-container>
