<h1> Astronomy Picture of the Day</h1>
<div *ngIf="!loading">
    <h2>{{apod.title}}</h2>
    <p class="p3">{{apod.date | date: 'fullDate'}}</p>
</div>
<div class="apod-img">
    <div *ngIf="loading else loaded">
        <span class="spinner">
            Loading...
        </span>
    </div>

    <ng-template #loaded>
        <img class="responsive-img" src={{apod.url}} alt="Today's apod">
        <a href="{{apod.hdurl}}">Click for full size</a>
    </ng-template>
</div>

<div class="apodForm">
    <form clrForm clrLayout="vertical">
        <clr-date-container>
            <label for="dateControl">Date of your APOD</label>
            <input type="date" clrDate name="date" [(clrDate)]="date" placeholder="MM/DD/YYYY" min="1995-06-16" max="{{todaysDate}}">
        </clr-date-container>
    </form>
    <button class="btn btn-primary" (click)="getNewApod()">Get Apod</button>
</div>

<div *ngIf="!loading">
    <p class="p3">{{apod.explanation}}</p>
</div>

<div *ngIf="isModalVisible">
    <div class="modal">
        <div class="modal-dialog" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" type="button">
                                <clr-icon aria-hidden="true" shape="close"></clr-icon>
                            </button>
                    <h3 class="modal-title">Error</h3>
                </div>
                <div class="modal-body">
                    <p>{{errorMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="isModalVisible = false">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" aria-hidden="true"></div>
</div>
