<h1>
    Astronomy Picture of the Day</h1>
<h2>{{apod.title}}</h2>
<p class="p3">{{apod.date | date: 'fullDate'}}</p>


<img class="responsive-img" src={{apod.url}} alt="Today's apod">
<a href="{{apod.hdurl}}">Click for full size</a>

<div class="apodForm">
    <form clrForm clrLayout="vertical">
        <clr-date-container>
            <label for="dateControl">Date for your APOD</label>
            <input type="date" clrDate name="date" [(clrDate)]="date" placeholder="MM/DD/YYYY">
        </clr-date-container>
    </form>
    <button class="btn btn-primary" (click)="getNewApod()">Get Apod</button>
</div>
<p class="p3">{{apod.explanation}}</p>
